name: Hello World

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: Who to greet
        options: 
        - mona
        - hari
      message:
        required: true
      
  push:
    branches:
      - main
      - dev

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.13'

      - name: Printing inputs
        run:  echo "${{ github.event.inputs.message }} ${{ github.event.inputs.name }}"

