name: Hello World

on:
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup python
        uses: actions/setup-python@v5
        with: 
          python-version: '3.13'

      - name: Run Python Script
        run: python app/app.py
